[Unit]
Description=Automatically performs patches with Zypper
Wants=zypper-automatic.timer

[Service]
WorkingDirectory=/usr/local/bin/zypper-automatic
ExecStart=/usr/bin/python3 /usr/local/bin/zypper-automatic/zypper-automatic.py

[Install]
WantedBy=multi-user.target
