[Unit]
Description=Automatically performs patches with Zypper
Wants=zypper-automatic.timer

[Service]
ExecStart=/usr/bin/python3 /usr/bin/zypper-automatic
